<include file="Public/min-header"/>
<script type="text/javascript">
    window.UEDITOR_Admin_URL = "__ROOT__/Public/plugins/Ueditor/";
    var URL_upload = "{$URL_upload}";
    var URL_fileUp = "{$URL_fileUp}";
    var URL_scrawlUp = "{$URL_scrawlUp}";
    var URL_getRemoteImage = "{$URL_getRemoteImage}";
    var URL_imageManager = "{$URL_imageManager}";
    var URL_imageUp = "{$URL_imageUp}";
    var URL_getMovie = "{$URL_getMovie}";
    var URL_home = "{$URL_home}";    
</script>

<load href="__ROOT__/Public/plugins/Ueditor/ueditor.config.js"/>
<load href="__ROOT__/Public/plugins/Ueditor/ueditor.all.js"/>
<div class="wrapper">
    <include file="Public/breadcrumb"/>
	<section class="content">
            <div class="row">
                <div class="col-sm-12">
                    <div class="box">
                        <div class="box-header">
                            <h3 class="box-title">回复评论</h3>
                        </div>
                        <!-- /.box-header -->
                        <form action="{:U('Moviereview/MoviereviewHandle')}" method="post" class="form-horizontal">
                        <div class="box-body">                  
							<div class="form-group">
								<label class="control-label col-sm-2">回复用户</label>
								<div class="col-sm-2">
									<input type="hidden" name="replayid" value="{$info.memberid}"/>
									<div style="padding-top:5px;">{$members[$info['memberid']]['nickname']}</div>
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-sm-2">评论视频</label>
								<div class="col-sm-2">
									<input type="hidden" name="movieid" value="{$info.movieid}"/>
									<div style="padding-top:5px;">{$movies[$info['movieid']]}</div>
								</div>
							</div>
							
							<div class="form-group">
								<label class="control-label col-sm-2">是否显示</label>
								
								<div class="col-sm-10">
									<label> <input type="radio" name="is_show" checked="checked" value="1"> 是</label>
									<label> <input type="radio" name="is_show" value="0"> 否</label>
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-sm-2">审核</label>
								
								<div class="col-sm-10">
									<label> <input type="radio" name="audit" checked="checked" value="1"> 通过</label>
									<label> <input type="radio" name="audit" value="2"> 不通过</label>
									<label> <input type="radio" name="audit" value="0"> 未审核</label>
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-sm-2">评论内容</label>
								<div class="col-sm-8">
								<textarea class="span12 ckeditor" id="post_content" name="content" title="">
									
								</textarea>
								</div>
							</div>
                        </div>
                        <div class="box-footer">
                        	<input type="hidden" name="act" value="{$act}">
                        	<button type="reset" class="btn btn-primary pull-left"><i class="icon-ok"></i>重填  </button>                       	                 
                            <button type="submit" class="btn btn-primary pull-right"><i class="icon-ok"></i>提交  </button>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
</div>  
<script type="text/javascript">
	var editor;
    $(function () {
        //具体参数配置在  editor_config.js 中
        var options = {
            zIndex: 999,
            initialFrameWidth: "100%", //初化宽度
            initialFrameHeight: 400, //初化高度
            focus: false, //初始化时，是否让编辑器获得焦点true或false
            maximumWords: 99999, removeFormatAttributes: 'class,style,lang,width,height,align,hspace,valign',//允许的最大字符数 'fullscreen',
            pasteplain: true, autoHeightEnabled: true,
            autotypeset: {
                mergeEmptyline: true,        //合并空行
                removeClass: true,           //去掉冗余的class
                removeEmptyline: false,      //去掉空行
                textAlign: "left",           //段落的排版方式，可以是 left,right,center,justify 去掉这个属性表示不执行排版
                imageBlockLine: 'center',    //图片的浮动方式，独占一行剧中,左右浮动，默认: center,left,right,none 去掉这个属性表示不执行排版
                pasteFilter: false,          //根据规则过滤没事粘贴进来的内容
                clearFontSize: false,        //去掉所有的内嵌字号，使用编辑器默认的字号
                clearFontFamily: false,      //去掉所有的内嵌字体，使用编辑器默认的字体
                removeEmptyNode: false,      //去掉空节点
                                             //可以去掉的标签
                removeTagNames: {"font": 1},
                indent: false,               // 行首缩进
                indentValue: '0em'           //行首缩进的大小
            },
        	toolbars: [
                   ['fullscreen', 'source', '|', 'undo', 'redo',
                       '|', 'bold', 'italic', 'underline', 'fontborder',
                       'strikethrough', 'superscript', 'subscript',
                       'removeformat', 'formatmatch', 'autotypeset',
                       'blockquote', 'pasteplain', '|', 'forecolor',
                       'backcolor', 'insertorderedlist',
                       'insertunorderedlist', 'selectall', 'cleardoc', '|',
                       'rowspacingtop', 'rowspacingbottom', 'lineheight', '|',
                       'customstyle', 'paragraph', 'fontfamily', 'fontsize',
                       '|', 'directionalityltr', 'directionalityrtl',
                       'indent', '|', 'justifyleft', 'justifycenter',
                       'justifyright', 'justifyjustify', '|', 'touppercase',
                       'tolowercase', '|', 'link', 'unlink', 'anchor', '|',
                       'imagenone', 'imageleft', 'imageright', 'imagecenter',
                       '|', 'insertimage', 'emotion', 'insertvideo',
                       'attachment', 'map', 'gmap', 'insertframe',
                       'insertcode', 'webapp', 'pagebreak', 'template',
                       'background', '|', 'horizontal', 'date', 'time',
                       'spechars', 'wordimage', '|','inserttable', 'deletetable',
                       'insertparagraphbeforetable', 'insertrow', 'deleterow',
                       'insertcol', 'deletecol', 'mergecells', 'mergeright',
                       'mergedown', 'splittocells', 'splittorows',
                       'splittocols', '|', 'print', 'preview', 'searchreplace']
               ]
        };
        editor = new UE.ui.Editor(options);
        editor.render("post_content");
	})
</script>
</body>
</html>